.message {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.success {
  background-color: #4caf50;
  color: #fff;
  padding: 1em;
  border-radius: 0.3rem;
  font-weight: bold;
}

.error {
  background-color: #d9534f;
  color: #fff;
  padding: 1em;
  border-radius: 0.3rem;
  font-weight: bold;
}
